.categories {
    height: 110px;
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 13px;
    border-bottom: solid 1px gray;
    box-shadow: 0px 14px 10px rgba(209, 159, 23, 0.3);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.category {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.category img {
    border-radius: 20px;
    width: 80%;
    height: 80%;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    margin: 30px 0;
}

.product {
    max-width: 400px;
    height: 450px;
    background-color: #ffff;
    margin: 10px;
}

.product img {
    width: 100%;
    height: 80%;
}