.categories {
    height: 110px;
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    border-bottom: solid 1px rgba(65, 63, 59, 0.678);
    box-shadow: 0px 14px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 50;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.categories::-webkit-scrollbar {
    display: none;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-left: 30px;
    
}


.category {
    width: 80px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    align-items: center;
    gap: 10px;
}

.category img {
    border-radius: 20px;
    width: 80%;
    height: 80%;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    margin: 30px 0;
    z-index: 1;
}

.product {
    max-width: 300px;
    height: 350px;
    background-color: #f3f2f2;
    margin: 10px;
    border-radius: 10px 10px 5px 5px;
}

.product img {
    width: 100%;
    height: 80%;
}

.invisible {
    position: absolute;
    visibility: hidden;
    right: 10000px;
}
.category-active {
    border: 2px solid rgb(255, 251, 245);
    height: 80px;
    border-radius: 25px;
    box-shadow: 1px 5px 15px rgba(32, 32, 31, 0.226);
    background-color: #555151;
    padding-top: 10px;
}
.category-active img {
    margin-bottom: 7px;
}
#pTrie {
    margin-left: 30px;
    font-size: 18px;
    color: #555151;
}
p #trieMessage {
    font-size: 18px;
    margin-left: 10px;
    color: #555151;
    background-color: #ffff;
    padding: 10px;
    margin-left: 10px;
    border: solid;
    border-width: thin;
    outline: double lightgrey;
    font-variant: petite-caps;
    box-shadow: 1px 5px 15px rgba(32, 32, 31, 0.226);
    display: inline-block;
}
#emptyStock{
    font-size: 18px;
    margin-left: 30px;
    color: rgb(208, 255, 0);
}
