.categories {
    height: max-content;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.category {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.category img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}