html{
    max-width: 1000px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}
body {
    background: aliceblue;
    color: #333;
    font-size:1.3rem;
    font-family: 'Cormorant Garamond', serif;
}
/* NAVBAR */

.navbar {
    height: 60px;
    background: #2f3e4e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.navbar h3 {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    color:#a07018c7;
    font-size: 1.7rem;
    -webkit-text-stroke-width: medium;
}

.menu {
    font-size: 22px;
    cursor: pointer;
}
.menu .socials{
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    background: rgba(255,255,255,0.12);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 35px 15px;
    left: 0;
    top: 60px;
    gap: 10px;
    width: -webkit-fill-available;
    align-items: center;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.7);
    opacity: 0;   
    transition: visibility 0.4s ease-in-out;
}
div.socials.visible{
    opacity: 1;
    position: fixed;
}
.menu h2{
    color: #000000a6;
    margin: 20px;
    position:relative;
    right: 100px;
}
.menu .socials a{
    background: #c8a44b;;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    width: max-content;
    text-decoration: none;
    align-items: anchor-center;
    display: grid;
    grid-template-columns: repeat(2, 110px);
    justify-items: center;
}
.socials a:nth-child(2){
    background-color: green;
    color: whitesmoke;
    box-shadow: 1px 5px 15px rgba(62, 124, 26, 0.8)
}
.socials a:nth-child(3){
   background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    box-shadow: 1px 5px 15px rgba(155, 10, 10, 0.377)
}
.socials a:nth-child(4){background-color: rgb(0, 0, 0);
    color: whitesmoke;
    box-shadow: 1px 5px 15px rgba(61, 63, 63, 0.8)
}
.socials a:nth-child(5){
    background-color: rgb(255, 255, 255);
    color: rgb(45, 128, 206);
    box-shadow: 1px 5px 15px rgba(50, 158, 153, 0.8)
}
a i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    text-decoration: none;
}
a.wa{
    padding: 8px 90px;
}
.fa-brands, .fab {
    font-size: x-large;
    align-content: center;
}
.socials a:hover {
  color: #916c27;
}
.cart {
    position: relative;
   font-size: 20px;
}
.badge {
    position: absolute;
    top: -6px;
    right: -8px;
    background: orange;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

/* CAROUSEL */

.carousel {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    background: #000;
    touch-action: pan-y;
}

.slides {
    display: flex;
    transition: transform 0.4s ease-in-out;
    width: 100%;
}


.slide {
    min-width: 100%;
    flex-shrink: 0;
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position:relative;
    justify-content: center;
    transition: transform 0.4s ease-in-out;
    
}

.slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    -webkit-user-drag: none;
    pointer-events: none;
}

.caption {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: white;
    font-size: 10px;
    box-shadow: inset 10px 5px 15px rgba(194, 190, 190, 0.473);
}

.caption h2 {
    font-size: 22px;
    color: darkgoldenrod;
    display: ruby-text;
    font-variant-caps: small-caps;
}

.caption p {
    font-size: xx-large;
}

/* DOTS */

.dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #bbb;
    border-radius: 50%;

}

.dot.active {
    background: orange;
}

/* CATEGORIES */

.categories {
    margin-top: 20px;
    background: linear-gradient(rgba(247, 237, 222, 0.363), rgba(177, 127, 127, 0.5));
    border-radius: 0 0 10px 10px;
    padding: 15px 10%;
}



.categories h3 {
    margin-bottom: 10px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    justify-self: center;
    width: 80%;

}

.category {
    max-width: 300px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    cursor: pointer;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    box-shadow: 1px 5px 15px rgba(0 , 0, 0, 0.8);
}
.category:nth-child(1){
    background: url("https://i.pinimg.com/1200x/90/d2/7b/90d27bf408fb13f255ed7887fd414feb.jpg");
    background-size: cover;
    background-repeat: round;
}
.category:nth-child(2){
    background: url("https://i.pinimg.com/736x/bd/4b/77/bd4b77af3f7a141bc96e64c9d2dc63fc.jpg");
    background-size: cover;
    background-repeat: round;
}
.category:nth-child(3){
    background: url("https://i.pinimg.com/736x/b6/7f/36/b67f36818bc6fd59331823e073041de3.jpg");
    background-size: cover;
    background-repeat: round;
   
}
.category:nth-child(4){
    background: url("https://i.pinimg.com/736x/35/1f/31/351f317f8c6d4cb2b178120794c4650b.jpg");
    background-size: cover;
    background-repeat: round;
}
.category:nth-child(5){
    background: url("https://i.pinimg.com/1200x/42/a5/9d/42a59d6e33afca58750dd5345ca8cf84.jpg");
    background-size: cover;
    background-repeat: round;
}
.category:nth-child(6){
    background: url("https://i.pinimg.com/736x/20/0f/70/200f7043ce70f244a18b8b580852e138.jpg");
    background-size: cover;
    background-repeat: round;
    color: grey;
}
.category p {
    font-size: 13px;
    margin-top: 5px;
    font-size: x-large;
    margin-top: 5px;
    text-align: center;

}

/* PRODUCT */

.products {
    padding: 15px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
    justify-self: center;
    margin-top: 32px;
    font-variant-numeric: oldstyle-nums;
    background-color: #ffffff;
}



.product {
    width: 95%;
    background: white;
    border-radius: 12px;
    display: flex;
    flex-direction:column;
    overflow: hidden;
}


.product img {
    width: 100%;
    height: 250px;
    border-radius: 12px 12px 0 0;
}



.info {
    padding: 10px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}



.price {
    color: orange;
    font-weight: bold;
    margin: 8px 0;

}

button {
    background: orange;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;

}
.texts{
    height: max-content;
    padding: 10px;
    font-size: 1.3rem;
    line-height: 40px;
    color: rgb(127, 166, 192);
    margin-bottom: 20px;
}
.texts div{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.reveal{
    opacity: 0;
    transition: transform 5s ease, opacity 4s ease;
}
.slide-from-left{
    border-top: solid 1px rgba(128, 128, 128, 0.397);
}
.slide-from-left:nth-child(1) { transform: translateX(-50px); }
.slide-from-left:nth-child(2) { transform: translateX(-200px); }
.slide-from-left:nth-child(3) { transform: translateX(-300px); }
.slide-from-left:nth-child(4) { transform: translateX(-350px); }

.reveal.visible{
    opacity: 1;
    transform: translateX(0) translateY(0);
}

footer{
    height: 200px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-image: url("https://raw.githubusercontent.com/Karimlw1/My_dressing_by_amida/main/images/footerBG.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
    box-shadow: 1px 5px 15px rgba(0 , 0, 3, 0.8);
}

/* phone */

@media (max-width: 768px) {
    body{
        background-color: #ffffff;
    }
    .product{
        grid-template-columns: repeat(2, 1fr);
    }
    .carousel {
        height: 370px;
    }

    .slide img {
        height: 370px;

    }
    .categories{
        padding: 15px;
    }
    .grid {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }

    .product {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }
    .product button{
        align-self: right;
    }
    
}

