.categories {
    height: 110px;
    width: 100%;
    margin: 40px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 13px;
    border-bottom: solid 1px rgba(65, 63, 59, 0.678);
    box-shadow: 0px 14px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.category {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.category img {
    border-radius: 20px;
    width: 80%;
    height: 75%;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    margin: 10px 0;
    z-index: 1;
}

.product {
    max-width: 250px;
    height: 300px;
    background-color: #ffff;
    margin: 10px;
    border-radius: 20px;

}

.product img {
    width: 100%;
    height: 80%;
    border-radius: 10px 10px 0 0;
}

.invisible {
    position: absolute;
    visibility: hidden;
    right: 10000px;
}

.category-active {
    border: 2px solid rgb(255, 251, 245);
    border-radius: 25px;
    height: 70px;
    box-shadow: 1px 5px 15px rgba(32, 32, 31, 0.226);
    background-color: rgb(88, 88, 88);
    padding-top: 10px;
}

#pTrie {
    margin-left: 30px;
    font-size: 18px;
    color: #555151;
}

p#trieMessage {
    font-size: 18px;
    margin-left: 10px;
    color: #555151;
}