.categories {
    height: max-content;
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 13px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.category {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.category img {
    border-radius: 20px;
    width: 80%;
    height: 80%;
}

.products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    margin: 20px 0;
}

.product {
    width: 400px;
    height: 450px;
}

.product img {
    width: 100%;
    height: 100%;
}