* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #f6f6f6;
    color: #333;
}
/* NAVBAR */

.navbar {
    height: 60px;
    background: #2f3e4e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.navbar h1 {
    font-size: 18px;
}

.menu {
    font-size: 22px;
    cursor: pointer;
}
.cart {
    position: relative;
   font-size: 20px;
}
.badge {
    position: absolute;
    top: -6px;
    right: -8px;
    background: orange;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

/* CAROUSEL */

.carousel {
    width: 100%;
    height: 260px;
    overflow: hidden;
    position: relative;
    background: #000;
    touch-action: pan-y;
}

.slides {
    display: flex;
    transition: transform 0.4s ease-in-out;
    width: 100%;
}


.slide {
    min-width: 100%;
    flex-shrink: 0;
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position:relative;
    justify-content: center;
    transition: transform 0.4s ease-in-out;
}

.slide img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    -webkit-user-drag: none;
    pointer-events: none;
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.caption h2 {
    font-size: 22px;
}

.caption p {
    font-size: 14px;
}

/* DOTS */

.dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #bbb;
    border-radius: 50%;

}

.dot.active {
    background: orange;
}

/* CATEGORIES */

.categories {
    margin-top: 20px;
    padding: 15px;
    background: linear-gradient(rgba(247, 237, 222, 0.363), rgba(177, 127, 127, 0.5));
    border-radius: 0 0 10px 10px;
}



.categories h3 {
    margin-bottom: 10px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;

}

.category {
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    cursor: pointer;
    font-weight: bolder;
    color: darkgray;
    box-shadow: 1px 5px 15px rgba(0 , 0, 0, 0.8);
}
.category:nth-child(1){
    background: url("https://i.pinimg.com/1200x/90/d2/7b/90d27bf408fb13f255ed7887fd414feb.jpg");
    background-size: cover;
    background-repeat: round;
}
.category:nth-child(2){
    background: url("https://i.pinimg.com/736x/bd/4b/77/bd4b77af3f7a141bc96e64c9d2dc63fc.jpg");
    background-size: cover;
    background-repeat: round;
}
.category:nth-child(3){
    background: url("https://i.pinimg.com/736x/a6/ae/37/a6ae37f870f0ef327d31c2f399aadafb.jpg");
    background-size: cover;
    background-repeat: round;
}
.category:nth-child(4){
    background: url("https://i.pinimg.com/736x/35/1f/31/351f317f8c6d4cb2b178120794c4650b.jpg");
    background-size: cover;
    background-repeat: round;
}
.category:nth-child(5){
    background: url("https://i.pinimg.com/1200x/42/a5/9d/42a59d6e33afca58750dd5345ca8cf84.jpg");
    background-size: cover;
    background-repeat: round;
}
.category:nth-child(6){
    background: url("https://i.pinimg.com/736x/20/0f/70/200f7043ce70f244a18b8b580852e138.jpg");
    background-size: cover;
    background-repeat: round;
}
.category p {
    font-size: 13px;
    margin-top: 5px;

}

/* PRODUCT */

.products {
    padding: 15px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
    justify-self: center;
    margin-top: 32px;
    font-variant-numeric: oldstyle-nums;
}



.product {
    width: 95%;
    background: white;
    border-radius: 12px;
    display: flex;
    flex-direction:column;
    overflow: hidden;
}


.product img {
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0 0;
}



.info {
    padding: 10px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}



.price {
    color: orange;
    font-weight: bold;
    margin: 8px 0;

}

button {
    background: orange;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;

}
.welcome-box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity .8s ease, transform .8s ease;
  max-width: 500px;
  margin: 50px auto 30px auto;
  padding: 24px 32px;
  border-radius: 12px;
  text-align: center;
  backdrop-filter: blur(4px);
  background: url("https://raw.githubusercontent.com/Karimlw1/alminaArt/main/images/habitbg.jpg") center/cover;
  color: white;
}

.welcome-box.visible {
  opacity: 1;
  transform: translateY(0);
}
/* DESKTOP */

@media (min-width: 768px) {
    .product{
        grid-template-columns: repeat(3, 1fr);
    }
    .carousel {
        height: 350px;
    }

    .slide img {
        height: 350px;

    }

    .grid {
        grid-template-columns: repeat(6, 1fr);
    }

    .product {
        width: 400px;
        display: flex;
        gap: 5px;
        flex-direction: column;
    }
    .product button{
        align-self: right;
    }

}

