.navbar {
   height: 60px;
    background: #fdfdfd;
    color: rgb(15, 15, 15);
    border-bottom: solid 1px rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
    z-index: 10;
    pointer-events: auto;
}

.navbar h3 {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    color: #0000008c;
    font-size: 1.7rem;
    -webkit-text-stroke-width: medium;
}

.menu {
    font-size: 22px;
    cursor: pointer;
}

.menu .socials {
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    background: rgb(255 144 25 / 11%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 35px 15px;
    left: 0;
    top: 60px;
    gap: 10px;
    width: -webkit-fill-available;
    align-items: center;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.7);
    visibility: hidden;
}

div.socials.visible {
    visibility: visible;
    position: fixed;
}

.menu h2 {
    color: #ffffff;
    margin: 20px;
    position: relative;
    right: 100px;
}

.menu .socials a {
    background: #c8a44b;
    ;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    width: max-content;
    text-decoration: none;
    align-items: anchor-center;
    display: grid;
    grid-template-columns: repeat(2, 110px);
    justify-items: center;
}

.socials a:nth-child(2) {
    background-color: green;
    color: whitesmoke;
    box-shadow: 1px 5px 15px rgba(62, 124, 26, 0.8)
}

.socials a:nth-child(3) {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 1px 5px 15px rgba(155, 10, 10, 0.377)
}

.socials a:nth-child(4) {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    box-shadow: 1px 5px 15px rgba(61, 63, 63, 0.8)
}

.socials a:nth-child(5) {
    background-color: rgb(255, 255, 255);
    color: rgb(45, 128, 206);
    box-shadow: 1px 5px 15px rgba(50, 158, 153, 0.8)
}

a i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    text-decoration: none;
}

a.wa {
    padding: 8px 90px;
}

.fa-brands,
.fab {
    font-size: x-large;
    align-content: center;
}

.socials a:hover {
    color: #916c27;
}

.cart {
    position: relative;
    font-size: 20px;
}

.badge {
    position: absolute;
    top: -6px;
    right: -8px;
    background: #000000;
    color: #ffffff;
    padding: 2px 6px;
    border-radius: 50%;
    font: -webkit-small-control;
    font-weight: bold;
}
