.navbar {
   height: 60px;
    background: #fdfdfd;
    color: rgb(15, 15, 15);
    border-bottom: solid 1px rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
    z-index: 10;
    pointer-events: auto;
}

.navbar h3 {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}

.menu {
    font-size: 22px;
    cursor: pointer;
}

.menu .socials {
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 35px 15px;
    left: -2439px;
    top: 0;
    gap: 10px;
    width: -webkit-fill-available;
    height: 100vh;
    max-width: 700px;
    align-items: center;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.7);
    overflow-y: hidden;
    overflow-x: hidden;
    justify-self: anchor-center;
    transition: all ease-in-out 0.2s;
    cursor: default;
}

div.socials.visible {
    visibility: visible; 
    position: fixed;
    transition: all ease 0.2s;
    left: 0;
}

.menu h2 {
    color: #ffffff;
    margin-top: 200px;
    position: relative;
    right: 100px;
    
}

.menu .socials a {
    background: #ffffff;
    border: 1px solid;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    align-items: anchor-center;
    display: grid;
    grid-template-columns: repeat(2, 110px);
    justify-items: center;
    justify-content: space-evenly;
    font-family: math;
}
.menu .socials a:hover{
    transform: scale(1.02);
}

.socials a:nth-child(2) {
    margin-top: 120px;
    color: rgb(15, 100, 12);
    border: 1px solid rgba(0, 128, 0, 0.404);
    box-shadow: 1px 5px 15px rgba(62, 124, 26, 0.219);
    transition: all ease 0.4s;

}
.socials a:nth-child(2):hover {
    margin-top: 120px;
    color: rgb(255, 255, 255);
    background-color:  rgb(27, 163, 22);
    border: 1px solid rgba(0, 128, 0, 0.404);
    box-shadow: 1px 5px 15px rgba(62, 124, 26, 0.425);
}


.socials a:nth-child(3) {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 1px 5px 15px rgba(155, 10, 10, 0.178);
    transition: all ease 0.4s;
}
.socials a:nth-child(3):hover {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    -webkit-text-fill-color: white;
    box-shadow: 1px 5px 15px rgba(155, 10, 10, 0.377);
    transition: all ease 0.4s;
}


.socials a:nth-child(4) {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 1px 5px 15px rgba(61, 63, 63, 0.308);
    border: 1px solid rgba(128, 128, 128, 0.486);
    transition: all ease 0.4s;
}
.socials a:nth-child(4):hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 1px 5px 15px rgba(61, 63, 63, 0.8);
    border: 1px solid rgba(128, 128, 128, 0.486);
    transition: all ease 0.4s;
}
.socials a:nth-child(5) {
    background-color: rgb(255, 255, 255);
    color: rgb(45, 128, 206);
    box-shadow: 1px 5px 15px rgba(50, 109, 158, 0.363);
     border: 1px solid rgba(75, 207, 240, 0.486);
    transition: all ease 0.4s;
}
.socials a:nth-child(5):hover {
    background-color:rgb(45, 128, 206);
    color: rgb(255, 255, 255);
    box-shadow: 1px 5px 15px rgba(50, 158, 153, 0.8);
    transition: all ease 0.4s;
}
.exitMenu{    
    display: block;
    position: absolute;
    left: 30px;
    font-size: 40px;
    height: 50px;
    width: 50px;
    background-color: #140b0b;
    color: #ffffff;
    font-size: 20px;
    border-radius: 60px;
}

a i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    text-decoration: none;
}

a.wa {
    padding: 8px 90px;
}

.fa-brands,
.fab {
    font-size: x-large;
    align-content: center;
}

.socials a:hover {
    color: #916c27;
}

.cart {
    position: relative;
    font-size: 20px;
}

.badge {
    position: absolute;
    top: -6px;
    right: -8px;
    background: #000000;
    color: #ffffff;
    padding: 2px 6px;
    border-radius: 50%;
    font: -webkit-small-control;
    font-weight: bold;
}
